* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 40px;
  gap: 40px;
}

form {
  background-color: rgb(244, 246, 249);
  border-radius: 10px;
  padding: 40px;
  position: relative;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

label {
  margin-bottom: 10px;
}

.input-child {
  display: flex;
  gap: 20px;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(252, 65, 190);
}

.text {
  flex: 10;
}

.number {
  flex: 10;
}

.color {
  padding: 0.1px;
  flex: 2;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.add-button {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 48px;
}

.submit-button {
  padding: 7.5px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 128, 213);
  color: white;
  font-weight: 700;
  box-shadow: 3px 3px 0.8px rgba(0, 0, 0, 0.6);
}

.submit-button:hover {
  background-color: rgb(255, 85, 198);
}

.result {
  display: flex;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: relative;
}

.pie-chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  gap: 20px;
}

.download-button {
  position: absolute;
  width: 24px;
  top: 50px;
  left: 40px;
  cursor: pointer;
}

.legend-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: auto 10px;
  border: 1px solid black;
}

.legend-item {
  display: flex;
  margin-top: 20px;
}

.legend-label h1 {
  font-size: 12px;
  font-weight: 700;
}